<div class="col-sm-12">
	<form id="edit-form">
		<div class="form-group">
			<label class="control-label" for="title">Title</label>
			<input type="text" id="title" class="form-control" ng-model="title"/>
		</div>
		<div class="form-group">
			<label class="control-label" for="subheading">Sub Heading</label>
			<input type="text" id="subheading" class="form-control" ng-model="subheading"/>
		</div>
		<div class="form-group">
			<label class="control-label">Content</label>
			<text-angular ng-model="content" name="demo-editor" ta-text-editor-class="form-control"></text-angular>
		</div>
		<div class="form-group">
			<label class="control-label">Excerpt</label>
			<textarea class="form-control" ng-model="excerpt"></textarea>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Save!" fl-save-post/>
		</div>
	</form>
</div>